<!DOCTYPE html>
<html ng-app="myShoppingCartProject">
    <head>
        <title>My Shopping Cart</title>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
        <script src="javascripts/app.js" type="text/javascript"></script> <!-- not created yet -->
        <script src="javascripts/validate.js" type="text/javascript"></script> 

    </head>
    <body >
    <!-- creating checkboxes for Wholesale and Retail buyers -->
        <form name="UserType">
            <input type="checkbox" name="wholeSaleFlag" id="wholeSaleFlag" value="WholeSale" onchange="validate()"/> Whole Sale <br>
            <input type="checkbox" name="retailFlag" id="retailFlag" value="Retail" onchange="validate()"/> Retail <br>
        </form>
        <!-- Iterating and displaying products from the given link -->
        <div ng-controller="myController">
		        <ul ng-repeat="item in data.products">
					<li>Name: {{item.name}}, Price: ${{item.msrpInCents/100}}</li>
                    <img src="{{item.mainImage.ref}}">

                    <form name ="cart" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                        <input type="hidden" name="cmd" value="_cart" />
                        <input type="hidden" name="add" value="1" />
                        <input type="hidden" name="business" value="example@minicartjs.com" />
                        <input type="hidden" name="item_name" value="{{item.name}}" />
                        <input type="hidden" name="quantity" value="1" />
                        <input type="hidden" name="amount" id="amount" value="{{item.msrpInCents/100}}" />
                        <input type="hidden" name="discount_rate" id="discount_rate"/>
                        <input type="hidden" name="currency_code" value="USD" />
                        <input type="hidden" name="no_shipping" value="2">
                        <input type="hidden" name="no_note" value="1">
                        <input type="hidden" name="shipping2" value="1.50">
                        <input type="hidden" name="shipping" value="2.50">

                        <input type="submit" name="submit" value="Add to cart" class="button"/>
                    </form>

				</ul>
        </div>
        <!-- calling script minicart.js to add 'add to cart' feature-->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/minicart/3.0.6/minicart.min.js"></script>
        <script>
            paypal.minicart.render();

        </script>
    </body>
</html>